# Python-specific ignores
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/

# Terraform-specific ignores
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude sensitive variables files
#*.tfvars
#!terraform.tfvars.sample
#!auto.terraform.tfvars

# Exclude CLI configuration files
.terraformrc
terraform.rc

# Exclude override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Exclude provider lock file
.terraform.lock.hcl

# Azure Function local settings
local.settings.json

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Secrets
*.pem
*.key
*.p12
*.pfx
*.password